[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://repo.markjeee.com/pypi/"
verify_ssl = true
name = "fury"

[packages]

[dev-packages]
setuptools = "*"
pytest = "*"
nose = "*"
